
<div class="container back-color">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-9">

        <!-- SIGN IN Form -->
        <!-- pass in variable if form is valid or invalid -->
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
        <form class="form-signin" name="formLogin" ng-submit="submitLogin(formLogin.$valid)" novalidate style="padding-right:20px; border-right: 1px solid #ccc;">
          <h3>Sign in</h3>

          <!-- Email input -->
          <div class="form-group input-group input-group-lg">
            <label for="inputEmail" class="sr-only">Email address</label>
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input
            ng-model="userLogin.email"
            type="email"
            id="inputEmail"
            class="form-control"
            placeholder="Email address"
            required
            autofocus>
            <!-- <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p> -->
          </div>

          <!-- Password Input -->
          <div class="form-group input-group input-group-lg">
            <label for="inputPassword" class="sr-only">Password</label>
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input
            ng-model="userLogin.password"
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password"
            required>
          </div>

          <!-- Submit buttons -->
          <button ng-click="submitLogin(userLogin.email, userLogin.password)" type="submit" ng-disabled="formLogin.$invalid" class="btn btn-lg btn-success btn-block">Login</button>
          <button ng-click="logout()" type="submit" class="btn btn-lg btn-danger btn-block">Logout</button>

        </form>

      </div> <!--col-md-9-->
    </div> <!--col-md-6-->

    <!-- REGISTER Form -->
    <div class="col-md-6">
      <div class="col-md-9">

        <form class="form-signin" name="formRegister" ng-submit="submitRegister(formRegister.$valid)" novalidate>
          <h3>Register</h3>

          <!-- Email input -->
          <div class="form-group input-group input-group-lg">
            <label for="inputEmail" class="sr-only">Email address</label>
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input
            ng-model="userRegister.email"
            type="email"
            id="inputEmail"
            class="form-control"
            placeholder="Email address"
            required
            autofocus>
            <!-- <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p> -->
          </div>

          <!-- Password Input -->
          <div class="form-group input-group input-group-lg">
            <label for="inputPassword" class="sr-only">Password</label>
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input
            ng-model="userRegister.password"
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password"
            required>
          </div>

          <button ng-click="submitRegister(userRegister.email, userRegister.password)" type="submit" ng-disabled="formRegister.$invalid" class="btn btn-lg btn-primary btn-block">Register</button>

        </form>

      </div> <!--col-md-9-->
    </div> <!--col-md-6-->

</div>
</div>
